body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Space Grotesk';
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    margin-bottom: 70px;
}

/* header start */

.header {
    align-items: center; 
    justify-content: space-between;
    padding-top: 60px;
}

.logo img {
    display: block;
    /* width: 100%;  */
}


.header_menu {
    display: flex;
    align-items: center; 
    /* padding: 20px; */
    gap: 40px;
}

.header a {
    text-decoration: none;
    font-family: 'Space Grotesk';
    color: black;
}

.header_button {
    padding: 20px 35px;
    border: 1px, solid, black;
    border-radius: 14px;
}

/* header end */


/* main secition start */

.mainsection {
    flex-direction: row;
    justify-content: space-between;
}
.mainsection_article {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 531px;
    align-items: flex-start;
}

.mainsection_article * {
    margin: 0px;
}

.mainsection_article h1 {
    font-family: "Space Grotesk";
    font-size: 60px;
    font-weight: 900;
    line-height: auto;
}

.mainsection_article p {
    max-width: 498px;
    line-height: 28px;
}

/* main secition end */

.companies_list {
    justify-content: space-between;
    vertical-align: center;
    margin-bottom: 140px;
}

.companies_list img {
    display: block;
    width: 100%;
}


.service_section {
    justify-content: left;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px
}

.service_section p {
    max-width:  580px;
    font-size: 18px;
    margin: 0;
}

.service_section_header {
    background-color: #B9FF66;
    border: 0px, solid, #B9FF66;
    border-radius: 7px;
    min-width: 178px;
    max-height: 51px;
}

.service_section h2 {
    font-family: 'Space Grotesk';
    color: black;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    font-weight: 500;

    padding-left: 7px;
    padding-right: 7px;
}

.button {
    text-decoration: none;
    font-family: 'Space Grotesk';
    color: white;
    background-color: black;
    padding: 20px 35px;
    border: 0px, solid, black;
    border-radius: 14px;
}

.card_section {
    flex-direction: column;
    margin-bottom: 100px;
}

.card_section_group {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 40px;
    margin-bottom: 40px;
}

.card_section_group:last-child {
    margin-bottom: 0px;
}

.card_section_card {
    width: 50%;
    /* max-width: 100%; */
    height: 310px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid black;
    box-shadow: 0px 5px 0px 0px black;
    overflow: hidden;
}

.card_section_card_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_section_card_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 164px;
}

.card_section_card div h2 div {
    font-family: 'Space Grotesk';
    font-size: 30px;
    margin: 0px;
}

.card_section_card_h2_white, .card_section_card_h2_green {
    max-width: 225px;
}

.card_section_card_h2_green div {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #B9FF66;
    border-radius: 7px;
}

.card_section_card_h2_white div{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    border-radius: 7px;
}

.card_section_card_bgcolor_gray {
    background-color: #F3F3F3;  
    
}

.card_section_card_bgcolor_green {
    background-color: #B9FF66;
}

.card_section_card_bgcolor_black {
    background-color: black;
}


.card_section_card_button {
    display: flex;
}

.card_section_card_arrow {
    padding: 10px;
    border-radius: 100px;
}

.card_section_card_bgcolor_black .card_section_card_arrow{
    background-color: white;
}

.card_section_card_bgcolor_green .card_section_card_arrow{
    background-color: black;
}

.card_section_card_bgcolor_gray .card_section_card_arrow{
    background-color: black;
}

.card_section_card_bgcolor_black .card_section_card_button_description{
    color: white;
}

.card_section_card_bgcolor_green .card_section_card_button_description{
    color: black;
}

.card_section_card_bgcolor_gray .card_section_card_button_description{
    color: black;
}

.card_section_card_arrow img {
    display: block;
    width: 100%;
}

.contact_section {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    margin-bottom: 140px;
}

.contact_section_wrapper {
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 45px;
    box-sizing: initial;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.contact_section_wrapper img {
    margin-right: 135px;
}

.contact_section_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 227px;
    max-width: 517px;
    margin-left: 60px;
}

 .contact_section_body h3 {
    font-family: 'Space Grotesk';
    color: black;
    font-size: 30px;
    margin: 0px;
    font-weight: 500;
 }

 .contact_section_body .button {
    max-width: 288px;
 }

.case_container {
    background-color: black;
    color: white;
    border-radius: 45px;
    max-width: 1240px;
    padding: 70px 60px;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin-bottom: 140px;
}

.case_container_item_breaker {
    height: 186px;
    border-right: 1px solid white;
    font-size: 18px;
    font-family: 'Space Grotesk';
}

.case_container_item {
    /* max-width: 163px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px
}


.case_container_button {
    color: #B9FF66;
    display: flex;
    max-width: 145px;
    justify-content: space-between;
    align-items:end;
    gap: 15px;
}


.case_container_arrow img {
    display: block;
    max-width: 100%;
}

.working_process {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 140px;
}

.working_process_item {
    border: 1px solid black;
    background-color: #F3F3F3;
    box-shadow: 0px 5px 0px 0px black;
    padding: 41px 60px;
    border-radius: 45px;
    display: flex; 
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.working_process_item_wrapper{
    display: flex;
    align-items: center;
    gap: 25px;
}

.working_process_item_visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.working_process_item_description {
    font-size: 18px;
    display: none;
}

.working_process_item_breaker {
    border-bottom: 1px solid black;
    display: none;
}
.working_process_item_number {
    font-size: 60px;
}

.working_process_item h3 {
    font-size: 30px;
}

.working_process_item_button {
    height: 58px;
    width: 58px;
    border: 1px solid black;
    background-color: #F3F3F3;
    border-radius: 100px;
    display: flex; 
    flex-direction: row;
    align-items: center; 
}

.working_process_item_button_wrapper {
    margin: 0 auto;
    width: 27px;
    height: 27px;
}

.working_process_item_button_wrapper img {
    display: block;
    width: 100%;
}

.working_process_item:hover {
    background-color: #B9FF66;
    transition: 1.5s;
}

.working_process_item:hover .working_process_item_breaker {
    display: block;
    transition: 3s;
    
}

.working_process_item:hover .working_process_item_description {
    display: block;
    transition: 1s;
}

.contact_us {
    border-radius: 45px;
    background-color: #F3F3F3;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    min-height: 773px;
    margin-bottom: 140px;
}

.contact_us_form {
    width: 633px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.contact_us_form_radio {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 35px;
    font-size: 18px;

}

.contact_us_form_radio_wrapper {
    display: flex;
    gap: 14px;
    align-items: center;
}
.contact_us_form_radio_wrapper input {
    width: 28px;
    height: 28px;
    border-color: black;
}

.contact_us_inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact_us_inputs_wrapper {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_us_inputs_wrapper input {
    max-width: 556px;
    height: 59px;
    border-radius: 14px;
}

.contact_us_inputs_wrapper textarea {
    max-width: 556px;
    height: 59px;
    border-radius: 14px;
    height: 200px;
}

.contact_us_form .button {
    max-width: 556px;
}

.contact_us_form {
    margin-left: 100px;
}

.section_footer {
    color: white;
    background-color: black;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    padding-left: 61px;
    padding-right: 61px;
    gap: 50px
}

.section_footer_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 16px;
}

.section_footer_header_menu {
    display: flex;
    gap: 40px;
}

.section_footer_header a {
    /* text-decoration: none; */
    color: white;
}

.section_footer_header_social_links {
    display: flex;
    gap: 20px;
}

.section_footer_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_footer_body_contacts_section {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: start;
}

.section_footer_body_contact_us {
    display: inline-block;
    background-color: #B9FF66;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    color: black;
    border-radius: 7px;
    font-weight: 500;
}

.section_footer_body_contacts {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.section_footer_body_subscribe {
    background-color: #292A32;
    padding: 58px 40px;
    border-radius: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.section_footer_body_subscribe button {
    background-color: #B9FF66;
    border-radius: 14px;
    padding: 20px 35px;
    color: black;
    font-size: 20px;
}

.section_footer_body_subscribe input {
    background-color: #292A32;
    border-radius: 14px;
    height: 65px;
    width: 253.56px;
    border: 1px solid white;
}

.section_footer_body_subscribe input::placeholder {
    color: white;
    opacity: 1;
}

.section_footer_breaker {
    border-bottom: 1px solid white;
}

.section_footer_body_copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 40px;
    margin-bottom: 50px;
}

.section_footer_body_copyright a {
    color: white;
}

