body {
    padding: 0px;
    margin: 0px;
}

* {
    font-family: 'Space Grotesk';
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    margin-bottom: 70px;
}

/* header start */

.header {
    align-items: center; 
    justify-content: space-between;
    padding-top: 60px;
}

.logo img {
    display: block;
    /* width: 100%;  */
}


.header_menu {
    display: flex;
    align-items: center; 
    /* padding: 20px; */
    gap: 40px;
}

.header a {
    text-decoration: none;
    font-family: 'Space Grotesk';
    color: black;
}

.header_button {
    padding: 20px 35px;
    border: 1px, solid, black;
    border-radius: 14px;
}

/* header end */


/* main secition start */

.mainsection {
    flex-direction: row;
    justify-content: space-between;
}
.mainsection_article {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 531px;
    align-items: flex-start;
}

.mainsection_article * {
    margin: 0px;
}

.mainsection_article h1 {
    font-family: "Space Grotesk";
    font-size: 60px;
    font-weight: 900;
    line-height: auto;
}

.mainsection_article p {
    max-width: 498px;
    line-height: 28px;
}

/* main secition end */

.companies_list {
    justify-content: space-between;
    vertical-align: center;
    margin-bottom: 140px;
}

.companies_list img {
    display: block;
    width: 100%;
}


.service_section {
    justify-content: left;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px
}

.service_section p {
    max-width:  580px;
    font-size: 18px;
    margin: 0;
}

.service_section_header {
    background-color: #B9FF66;
    border: 0px, solid, #B9FF66;
    border-radius: 7px;
    min-width: 178px;
    max-height: 51px;
}

.service_section h2 {
    font-family: 'Space Grotesk';
    color: black;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    font-weight: 500;

    padding-left: 7px;
    padding-right: 7px;
}

.button {
    text-decoration: none;
    font-family: 'Space Grotesk';
    color: white;
    background-color: black;
    padding: 20px 35px;
    border: 0px, solid, black;
    border-radius: 14px;
}

.card_section {
    flex-direction: column;
    margin-bottom: 100px;
}

.card_section_group {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 40px;
    margin-bottom: 40px;
}

.card_section_group:last-child {
    margin-bottom: 0px;
}

.card_section_card {
    width: 50%;
    /* max-width: 100%; */
    height: 310px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid black;
    box-shadow: 0px 5px 0px 0px black;
    overflow: hidden;
}

.card_section_card_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_section_card_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 164px;
}

.card_section_card div h2 div {
    font-family: 'Space Grotesk';
    font-size: 30px;
    margin: 0px;
}

.card_section_card_h2_white, .card_section_card_h2_green {
    max-width: 225px;
}

.card_section_card_h2_green div {
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #B9FF66;
    border-radius: 7px;
}

.card_section_card_h2_white div{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    border-radius: 7px;
}

.card_section_card_bgcolor_gray {
    background-color: #F3F3F3;  
    
}

.card_section_card_bgcolor_green {
    background-color: #B9FF66;
}

.card_section_card_bgcolor_black {
    background-color: black;
}


.card_section_card_button {
    display: flex;
}

.card_section_card_arrow {
    padding: 10px;
    border-radius: 100px;
}

.card_section_card_bgcolor_black .card_section_card_arrow{
    background-color: white;
}

.card_section_card_bgcolor_green .card_section_card_arrow{
    background-color: black;
}

.card_section_card_bgcolor_gray .card_section_card_arrow{
    background-color: black;
}

.card_section_card_bgcolor_black .card_section_card_button_description{
    color: white;
}

.card_section_card_bgcolor_green .card_section_card_button_description{
    color: black;
}

.card_section_card_bgcolor_gray .card_section_card_button_description{
    color: black;
}

.card_section_card_arrow img {
    display: block;
    width: 100%;
}

.contact_section {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    margin-bottom: 140px;
}

.contact_section_wrapper {
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 45px;
    box-sizing: initial;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.contact_section_wrapper img {
    margin-right: 135px;
}

.contact_section_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 227px;
    max-width: 517px;
    margin-left: 60px;
}

 .contact_section_body h3 {
    font-family: 'Space Grotesk';
    color: black;
    font-size: 30px;
    margin: 0px;
    font-weight: 500;
 }

 .contact_section_body .button {
    max-width: 288px;
 }

.case_container {
    background-color: black;
    color: white;
    border-radius: 45px;
    max-width: 1240px;
    padding: 70px 60px;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin-bottom: 140px;
}

.case_container_item_breaker {
    height: 186px;
    border-right: 1px solid white;

}

.case_container_item {
    /* max-width: 163px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px
}


.case_container_button {
    color: #B9FF66;
    display: flex;
    max-width: 145px;
    justify-content: space-between;
    align-items:end;
    gap: 15px;
}


.case_container_arrow img {
    display: block;
    max-width: 100%;
}